@tailwind base;
@tailwind components;
@tailwind utilities;

.font-heading {
  font-optical-sizing: auto;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition-property: opacity, background, transform, filter;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .animate-stroke {
    animation: letter_draw 3s linear forwards,
      letter_fill ease-in 0.5s forwards 1s;
  }

  .page-transition {
    opacity: 0;
    background: black;
    transform: translateY(40px);
    filter: blur(12px);
  }

  @keyframes letter_draw {
    0% {
      stroke-dashoffset: 200;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

  @keyframes letter_fill {
    0% {
      fill: transparent;
    }
    100% {
      fill: currentColor;
    }
  }
}
